.container {
    padding: 1%;
    margin: auto;
    margin-top: 15vh;
}

.navAndComments {
    display: grid;
    grid-template-rows: 4fr 2fr;
    margin-left: 2vw;
}

.commentsIconWrapper {
    margin-top: 9vh;
    text-align: center;
    font-size: 1.5vh;
}

.grid {
    display: grid;
    justify-content: right;
    grid-template-columns: 3fr 4fr 1fr 2fr;

}

.commentsWrapper {
    position: absolute;
    top: 20vh;
    right: 0;
}

@media screen and (max-width: 810px) {
    .grid {
        grid-template-columns: 8vw 4fr 1fr;       
    }
    .commentsWrapper {
        top: 100%;
        width: 100%;
        
    }

}


.navigateBooks {
    display: grid;
    margin-top: 15vh;

}
.navigateBooksButton {
    margin: auto;
    padding: 0.5vh 0.7vh;
    border-radius: 50%;
    background: rgba( 0, 0, 0, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.downArrow {
    position: relative;
    top: 0.13vw;
    scale: 1.5;
}
.upArrow {
    scale: 1.5;
}

.votingButtons {
    margin: auto;
    padding: 0.5vh 0.7vh;
    border-radius: 10%;
    text-align: center;
    justify-content: center;
    font-size: 1.5vh;
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
}

.Vote {
    border-radius: 30%;
    
    padding: 0.5vh 0.7vh;
    display: flex;
    width: 3vw;
    height: 2.5vw;
    color: #FC7753;
    background: #6D6767;
    justify-content: center;
    border: 2px solid #FC7753;
    cursor: pointer;
}

.Voted {
    border-radius: 30%;
    padding: 0.5vh 0.7vh;
    display: flex;
    width: 3vw;
    height: 2.5vw;
    color: #5386fc;
    background: #ff9d00;
    justify-content: center;
    border: 2px solid #6D6767;
    cursor: pointer;
}

.bookSummaryContainer::-webkit-scrollbar {
    display: none;
  }

.bookSummaryContainer {
    position: absolute;    
    font-size: 2vh;
    width: 15vw;
    left: 2vw;
    height: 50vh;
    padding: 1vh 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1vw;
    scrollbar-width: none;
}

.book {
    margin: 0 auto;
    width: min-content;
    scroll-snap-type: y mandatory;
    z-index: 90;
    height: 68vh;

    filter: drop-shadow(2px 4px 4px #000);
}

.bookDetailsWrapper {
    position: absolute;
    bottom: 8.5%;
    mask-image: linear-gradient(transparent, white 60%, white);
    -webkit-mask-image: linear-gradient(transparent, white 30%, white);
    overflow-wrap: anywhere;
    height: min-content;
    font-size: 1.5vh;
    display: none;
    color: #fff;
    width: 100%;
    background: rgba( 0, 0, 0, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.5px );
    -webkit-backdrop-filter: blur( 0.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.page:hover + .bookDetailsWrapper {
    display: inline-block;
}

/* 
.bookPage {
    position: absolute;
    margin: 0 auto;
} */

.bookDetails {
    margin-left: 20px;
}


.page {
    margin-bottom: 65px;
    display: flex;
    justify-content: center;
}

.navigation {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.setPageNum {
    text-align:right;
    font-size: 1.5vh;
    width: 1vw;
    background-color: transparent;
    border: none;
}

.setPageNum::placeholder {
    color: black;
    text-align: right;
    font-weight:bolder;
}

.setPageNum::-webkit-outer-spin-button,
.setPageNum::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.setPageNum[type=number] {
  -moz-appearance: textfield;
}

.Arrow {
    margin: auto;
    padding: 1.5vh;
    border-radius: 5%;
    height: min-content;
    font-size: 1.5vh;
    justify-content: center;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.index {
    background-color: #6D6767;
    width:max-content;
    padding: 0 20px;
    height: min-content;
    font-size: 1.5vh;
    border-radius: 12px;
    font-weight: bold;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
